.container {
	width: 10vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}


.container>* {
	font-size: 1.7rem;
	color: #d3d3d3;
	display: inline;
	width: 3vw;
	margin: 0.5vw;
	text-align: center;
	border-radius: 10px;
}

.container>*:hover {
	background-color: #d3d3d3;
	color: black;
}

.active {
	background-color: #d3d3d3;
	color: black;
}

.post {
	color: black;
}

.message {
	position: relative;
}