.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 16px;
	position: relative;
	border-bottom: 1px solid #D9D9D9;
}

.container:hover {
	background-color: #efeeee;
	transition: 0.3s;
}

.avatar {
	height: 50px;
	width: 55px;
	overflow: hidden;
	border: 1px solid #D9D9D9;
	margin-right: 10px;
	border-radius: 50%;
}

.avatar img {
	transition: transform 0.3s ease;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.avatar:hover {
	scale: 1.1;
	transition: 0.3s;
}

.information_box {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.information {
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 8px;
	align-items: center;

}

.user_information {
	display: flex;
	flex-direction: column;
}

.user_information:hover {
	cursor: pointer;
}

.information>* {
	font-size: 15px;
}

.username {
	color: black;
}

.name {
	font-weight: 600;
}

.username:hover, .name:hover {
	text-decoration: underline;
}

.total_follower {
	font-size: 0.8rem;
}

.follow_button {
	color: white;
	font-weight: 700;
	padding: 5px 10px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	height: 35px;
	width: 120px;
	text-align: center;
	background-color: #000000;
}

.follow_button:hover {
	background-color: #5d5b5b;
	transition: 0.3s;
}