.violatingPostItem {
    padding: 12px 16px;
    transition: background-color 0.2s ease;
    border-bottom: 1px solid rgb(239, 243, 244);
    position: relative;
}

.violatingPostItem:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.postContainer {
    display: flex;
    gap: 12px;
    position: relative;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.contentWrapper {
    flex-grow: 1;
    min-width: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 0;
}

.username {
    font-size: 16px;
    color: #262626;
    white-space: nowrap;
}

.username b:hover {
    text-decoration: underline;
    cursor: pointer;
}

.name {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reason {
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
}

.buttonBlack {
    font-size: 14px;
    width: 80px;
    height: 40px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    transition: background-color 0.2s ease;
}

.buttonBlack:hover {
    background-color: #ffffff;
    color: black;
}


