.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 0px 12px 0px 12px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 16px;
	align-items: center;
	background-color: #d3d3d3;
}

.search_bar {
	display: flex;
	width: 100%;
	border: 0;
	padding: 10px;
	font-size: small;
	position: relative;
	background-color: transparent;

}

.search_bar:focus {
	outline: none;
}

.clear_button {
	display: none;
}