.modalTitle {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.modalInput {
    border-radius: 12px;
    border: none;
    background: #f2f2f2;
}

.modalInput::placeholder {
    color: #b3b3b3;
}
