.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.user_card {
	padding: 16px 24px 10px;

}

.user_information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.inner_information {}

.username {
	color: black;
	font-weight: 700;
}

.name {}

.inner_avatar {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 1px solid #D9D9D9;
}

.description {}

.sub_information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.total_follower {}

.link {}

.inner_link {
	display: flex;
	justify-content: space-evenly;
}

.link_button {
	border-radius: 30%;
	padding: 1px 7px;
	margin: 0px 5px;
	font-size: 25px;
	transition: background-color ease 0.5 s;
	cursor: pointer;
}

.link_button:hover {
	background-color: #D9D9D9;
}

.edit_button {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 12px 24px;
}

.button {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5px 16px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	background-color: black;
}