.custom-file-container .label-container {
	display: none;
}

.custom-file-container .input-container {
	display: none;
}

.custom-file-container .image-preview {
	height: auto;
	padding: 0;
	border-radius: 0;
}