.post_button {
	position: absolute;
	height: 4vw;
	width: 5vw;
	top: 90vh;
	right: 2vw;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 15px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.post_button>* {
	font-size: 2rem;
}