.primary_button {
	background-color: #E4B1F0;
	border: 0;
	border-radius: 10px;
	height: 50px;
	width: 150px;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.primary_button:hover {
	border: 3px solid #E4B1F0;
	background-color: white;
	color: #E4B1F0;
	;
}