.friend_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #D9D9D9;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.avatar:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.3s;
}

.information {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
    font-size: 18px;
}

.name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.buttonWrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
}

.buttonBlack {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 16px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: black;
    margin-right: 10px;
}

.buttonBlack:hover {
    background-color: #626161;
}

.buttonWhite {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 16px;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    color: #000000;
    background-color: #f3efef;
    margin-right: 10px;
}

.buttonWhite:hover {
    background-color: #e7e4e4;
}

