.overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.container {
	width: 40vw;
	height: auto;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 1vw;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 3;
	background-color: white;
	position: relative;
}

.header {
	text-align: center;
	width: 100%;
	padding: 10px;
}

.avatar {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	border: 1px solid #D9D9D9;
}

.name {
	margin-left: 5px;
}

.title {
	width: 90%;
	border: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 3vh;
	font-size: 0.8rem;
}

.title:focus {
	outline: none;
}

.content {
	width: 90%;
	height: 15vh;
	border: none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 5vh;
	font-size: 0.8rem;

}

.content:focus {
	outline: none;
}

.close_popup {
	position: absolute;
	top: 1vh;
	right: 1vw;
	border: none;
	background-color: transparent;
}

.uploader {
	width: 90%;
	padding: 5px;
	border-radius: 10px;
	background: white;
	font-size: 0.8rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
	height: auto;
	margin-bottom: 3vh;
}

.post_button {
	font-size: 13px;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #D9D9D9;
	border-radius: 10px;
	background: black;
}